html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
body {
    /* The html and body elements cannot have any padding or margin. */
}
body{
    background: url("/css/noisy_grid.png") repeat scroll left top #EEEEEE;

}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;

}

#footer{
    //height: 230px;
    margin-top: 10px;
    background-color: #444;
}

.container{
    min-height: 100%;
    height: 100%;
}

.main-content{
    background-color: #FFFFFF;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 3px;
}

#footer-v6 {
    background-color: transparent;
    font-size: 12px;
}

#footer-v6 h2 {
    color: white;
}

.main-header{
    background-color: #0099da;
    padding: 1px;
    margin-bottom: 10px;
    font-size: 12.6px;
}

.navbar-default.navbar-dark + .main-header .page-title, .navbar-default.navbar-dark + .main-header a{
    color: #0099da;
}
@media  (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
}

.navbar-default .navbar-brand{
}

.dropdown.search > a:after{
    content: ""; /* get rid of dropdown indicator next to search */
}


.categories{
    padding: 10px
}

.panel, .block{
    margin-bottom: 5px;
}
.post-title {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.my-fa-twitter:before {
    content: "\f099";
}
.my-fa-youtube:before {
    content: "\f167";
}
/**********  Main Page **************/
.search-main{
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.topbar-border{
    padding: 5px 5px; /* need this to avoid overhang when page is smaller */
}
.portfolio-topbar .vendors
{
    padding-right: 0;
}
.portfolio-topbar .search
{
    padding-left: 0;
    padding-right: 0px;
}


.portfolio-topbar .search span{
    margin-top: -23px; /* must move the invisible bottom border to match others next to it */
}

.portfolio-topbar .sort {
    padding-left: 0;
    padding-right: 0;
}

.portfolio-topbar-cats li span{
    padding: 2px 5px;
    margin-top: 6px;
}
.portfolio-topbar .row{
    background-color: #FFFFFF;
}
.portfolio-topbar h4{
    padding-bottom: 0px;
}

.portfolio-topbar{
    margin-bottom: 5px;
}

.main-image{
    max-height: 200px;
}

.portfolio-topbar-cats li a{
    color: #333; /* override link color */
}

.img-thumbnail{
    max-height: 300px;
    /*max-width: 400px;*/
}


.panel-footer{
    padding: 2px 2px;
    font-size: 12px
}
.post .tags-cloud{
    display: inline;
}

.post-content{
    padding-left: 0px;
}
@media (max-width: 767px){

    .post-content{
        padding-left: 15px; /* add padding back in when smaller screen */
    }

}

.post img{
    margin-bottom: 3px;
}



/**************************************/

/************* Comments **************/
#comments {
    margin-top: 20px;
}
#comments h3{
    margin: 7px 0px 0px 0px;
}
#comments .author-name p{
    margin: 2px 0px -2px 0px;
    font-size: 10px;
}

#comments .list-group-item{
    padding: 3px 8px 8px 8px;
}


/*****************************************/



/********** Navbar *******************/
.badge {
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: #777777;
    border-radius: 10px;
}

#bs-example-navbar-collapse-1 .badge {
    margin-left: 10px;
    border-radius: 2px;
    color: #fff;
    background: #54c8eb;
}

#bs-example-navbar-collapse-1 li{
    line-height: 1em;
}

/**************************************/

/************** Show Post ************/
.post-show
.panel-title {
    padding: 0px;

}
.post-show
.panel-title h2{
    border-left: 10px #0099da solid;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-top: 0px;

}

.panel-title p{
    font-size: 14px; /* author info make smaller */
}

.post-show
.panel-body{
    padding: 0px;
}

.sidebar {
    /*font-size: .9em;*/
}
.sidebar li{
    line-height: 1.5em;
}
.panel-item{
    margin-top: 10px;
}
.panel-body{
    padding: 2px 2px;
}

.post-show.panel{
    border:none;
}

.post-show .panel-heading{
    padding: 5px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.sidebar hr{
    margin: 5px;
}

.sidebar .section-title:first-letter{
    color: #0099da
}
.sidebar h3{
    margin-top: 20px;
}

.sidebar .related li{
    margin-bottom: 7px;
}

body,
.post-content {
    /*font-size: 12px;*/
}


/************************************/

/************* Filter Page **********/
.block ul.simple li a {
    border-left: solid 2px #eee;
}

.block ul.simple .active  a {
    border-left: solid 2px #0099da;
}



/*************************************


/********* login/register/reset forms ******/
.form-horizontal {
    padding: 10px;
}

.input-post .checkbox input[type="checkbox"], .input-post  .checkbox-inline input[type="checkbox"]{
    opacity: 1; /* otherwise the multiple selection dropdown boxes are hidden from view */
}

/******** General ******************/
h1, h2, h3, h4, h5, h6{
    margin: 10px 0 10px 0;
}

/*So header shown correctly*/
.main-header .breadcrumb{
    position: relative;
    font-size: 12px;

}
.breadcrumb{
    padding: 0px 15px;
}

.padding-bottom-10{
    padding-bottom: 10px;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-left-15{
    padding-left: 15px;
}

.first-letter{
    color: black;
}
.highlighted,
.first-letter:first-letter{
    color: #0099da
}

.alert-info{
    margin-bottom: 10px; /* push this down a bit for warnings */
}
.alert-info p{
    padding-left: 10px;
}

.flash ul{ /* For the validation errors..gets rid of the nasty bullet points */
    list-style: none;
}
.flash li{
    padding-left: 5px;
}

.tags-cloud .active{
    background-color: #0099da;
    color: white;
}

.tags-cloud a{
    padding: 2px 4px;
}

.selectize-control.multi .selectize-input>div { /* Used in creating new post tags */
    border: solid 1px #ddd;
    padding: 3px 5px;
    margin: 2px;
    display: inline-block;
    font-size: .9em;
    color: #0099da;
    text-decoration: none;
    background: white;
}

.btn-group .btn-default,
.form-group .btn-group {
    display: block; /* So that the inputs in the create/edit webpages are on a new line */
}
.multiselect-container.dropdown-menu{
    max-height: 300px !important;
}
.required:after{ /* for form inputs */
    content:'*';
    color:red;
    padding-left:5px;
}
/**********************************/