<IfModule mod_rewrite.c>
    RewriteBase /
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    Options +FollowSymLinks
    RewriteEngine On

    RewriteCond %{HTTP_HOST} !^mcuhq\.com$ [NC]
    RewriteRule ^(.*)$ http://mcuhq.com/$1 [R=301,L]

    #1and1 to enable PHP 5.4
    AddHandler x-mapp-php6 .php 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [NC]
RewriteRule ^ %1 [R=301,L]
</IfModule>
